:root {
    --white: #ffffff;
    --sidebar-primary-hover: #EBEFFD;
    --sidebar-bg: #fff;
    --bg: #dbdbdb;
    --text: #808183;
    --text-headline: #1f1f1f;
    --text-link: #1f1f1f;
    --expand-button: #f6f6f6;
    --search-bg: #f6f6f6;
    --separator:  #1e1f21;
    --link-text: #454545;
    --link-hover: #f6f6f6;
    --tooltip-bg: #151515;
    --tooltip-text: #f6f6f6;
    --alarm: #ee461e;
    --green: #aeeadb;
    --green-dark: #a3d6c7;
    --violet: #f6f6f6;
    --violet-dark: #f6f6f6;
    --purple: #f6f6f6;
    --purple-dark: #f6f6f6;
    --text-dark: #f6f6f6;
    --text-gray: #929292;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 1rem;
    height: 100%;
    background: var(--bg);
}

html{
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 55rem;
    height: 100%;
    border-radius: 0.75rem;
    background: var(--sidebar-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 18rem;
    min-width: 4rem;
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--separator);
}

.sidebar .logo img {
    width: 2rem;
    height: 2rem;
}

.sidebar .logo span {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-headline);
    
}
.sidebar .nav-links {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.sidebar .nav-links .link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    transition: background 0.3s ease;
    cursor: pointer;
}

.sidebar .nav-links .link:hover {
    background: var(--sidebar-primary-hover);
}

.sidebar .nav-links .link.active {
    background: var(--sidebar-primary-active);
    }
.sidebar .nav-links .link img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.sidebar .nav-links .link span {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-headline);
}

.sidebar .nav-links .link span:hover {
    color: var(--text-headline-hover);
    }
