:root{
    --primary: #0969DA;
    --background: #24292F;
    --gray: #847F90;
    --white: #FCFCFC;
    --navbar-height: 3.75rem;
}

body {
    font-size: 16px;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu_wrapper{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    z-index: 2;
    gap: 1.5rem;
    background: var(--background);
    height: var(--navbar-height);
    padding: 0 1rem;
    align-items: center;
}

.menu_bar{
    display: flex;
    gap: 1.5rem;
    align-items: center;

}

logo{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.navigation > li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    height: 2.625rem;
}

.navigation > li > button > svg{
    fill: var(--white);
    color: var(--white);
    transition: all 0.2s ease-in-out;
}

.navigation > li > a {
    color: var(--white);
    font-size: 0.875rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

}

.navigation > li > button {
    color: var(--white);
    font-size: 0.875rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    gap: 0.25rem;
    opacity: 1;
    align-items: center;
    font-size: 0.875rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    background: none;
    display: flex;
    padding: 0.185rem 0;
    position: relative;
    transition: all 0.2s ease-in-out;

}

.logo svg {
    fill: var(--white);
}

.navigation{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 0.5rem;
    background: var(--background);
}

.dropdown{
    position: relative;
    top: 2.625rem;
    min-width: 15rem;
    border-radius: 0.5rem;
    background: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 5px 30px rgba(27, 31, 35, 0.1), 
    0 0 1px rgba(27, 31, 35, 0.4), 0 1px 2px rgba(27, 31, 35, 0.15);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.99) translateY(-0.7rem);
        transform-origin: top;
    }
    to {
        opacity: 0;
        transform: scale(0.99) translateY(-0.7rem);
    }
}

.dropdown h3{
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.list-menu-items{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 0.25rem;
}

.list-menu-items >li > a{
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    width: 100%;
    color: var(--gray);
    text-decoration: none;
}

.list-menu-items> li > a:hover{
    color: var(--primary);
}

.list-menu-items-description {
    list-style-type: none;
}

.list-menu-items-description li{
    display: flex;
    padding: 0.25rem;
    gap: 1rem;
    width: 100%;
}

.list-menu-items-description li:hover{
    color: var(--primary);
}

.list-menu-items-description li svg{
    color: var(--primary);
}

.item-title h3{
    font-size: 0.875rem;
    font-weight: 600;
}

.item-title p{
    font-size: 0.75rem;
}

.navigation > li:hover .dropdown {
    display: flex;
    opacity: 1;
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: nowrap;

}

.action-buttons a{
    text-decoration: none;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-in-out;

}

.action-buttons a:hover {
    opacity: 0.75rem;
}

.secondary {
    background: none;
    color: var(--white);
    outline: none;
    border: none;
}

.primary {
    color: var(--white);
    border-radius: 0.5rem;
    border: 1px solid var(--white);
}

.burger-menu {
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

.burger-menu svg {
    stroke: var(--white);
}

@media (max-width: 600px) {
    .hide {
        display: none;
    }
    .menu_wrapper {
        justify-content: space-between;

    }
    .action-buttons {
        order: -1;
    }
}

@media (max-width: 600px) {
    .burger-menu {
        display: flex;
        align-items: center;
    }
}

